@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&family=Raleway:wght@200;300;400;700&display=swap');



body{
	font-family: 'Raleway', sans-serif;
	background-color: #FFA526;
	color: #ffff;
}

.container{
	width: 90%;
	margin: 0px auto;
	overflow: hidden;
	padding: 80px 0;
	max-width: 90%;
}

.subtitle{
	font-size: 2.5rem;
	margin-bottom: 35px;
}


.hero{
	background-image: url('../img/heroimage.png');
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}


.hero .container{
	padding: 0;
}

.nav{
	display: flex;
	justify-content: flex-end;
	height: 70px;
	align-items: center;
	font-weight: 700;
}

.nav--footer{
	font-weight: 300px;
	justify-content: flex-start;
}

.nav__items{
	color: #fff;
	text-decoration: none;
	margin-right: 20px;
	padding: 10px 15px;
	font-weight: inherit;
}

.nav__items--cta{
	border: 1px solid white;
}

.hero__container{
	display: flex;
	padding-left: 100px;
	height: calc(100vh - 500px);
	align-items: center;
	color: white;
}

.hero__texts{
	width: 80%;
	margin-bottom: 50px;
}

.hero__title{
	font-size: 3.2rem;
}

.hero__subtitle{
	font-size: 2rem;
	font-weight: 300;
	margin: 15px 0;
}

.hero__cta{
	display: inline-block;
	background-color: #FFA526;
	padding: 20px 40px;
	text-decoration: none;
	color: white;
	border-radius: 40px;
	font-weight: 800;
}

main{
	background-color: #FFA526;
	margin-top: -150px;
}

.gradient{
	width: 100%;
	height: 300px;
	background:  linear-gradient(#7BD434, #FFA526 );
}

/*Info*/

.info{
	color: white;
	display: block;
	width: 90%;
	padding: 0;
	margin: -200px auto 40px auto;
	
}

.info__container{
	display: flex;
	flex-direction: row;
	width: 100%;
	text-align: center;
	
}

.info__left{
	width: 50%;
	padding: 15px 10px;
}

.info__left p{
	padding: 15px 170px;
	text-align: left;
}

.info__left img{
	height: 250px;
	width: 500px;
	border:  2px solid black;
}


.info__right{
	width: 50%;
	padding: 200px 10px 0px 10px;
	text-align: center;
}

.info__right p{
	padding: 15px 170px;
	text-align: left;
}

.info__right img{
	height: 250px;
	width: 500px;
	border:  2px solid black;
}




.video__tutorial{
	width: 100%;
	height: 500px;
	margin: 100px 0;
}

.video__container{
	color: white;
	width: 90%;
	margin: 0 auto;
}

.tutorial{
	padding: 10px;
	text-align: center;
}

.video{
	height: 450px;
	width: 800px;
	padding: 10px;
	margin: 0 auto;
}

.video img{
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
	border: 3px solid black;
}

.botonTutorial {
	margin-top: -20px;
	text-align: center;
}

.botonTutorial a{
	background-color: white;
	padding: 20px 40px;
	text-decoration: none;
	color: black;
	border-radius: 40px;
	font-weight: 800;
}


/*Footer*/

footer{
	background-color: #16181D;
	width: 100%;
	height: 200px;
}

.footer__cont{
	padding-top: 40px;
}

.footer__title{
	display: block;
	text-align: center;
	font-size: 30px;
}

.footer__icons{
	text-align: center;
}

.footer__container-icons{
	display: inline-block;
	text-align: center;
}

.footer__icon{
	text-decoration: none;
	outline: none;
	color: white;
	padding: 15px 15px ;
	font-size: 50px;
}





/*POPUP*/

.overlay{
	color: black;
	background: rgba(0,0,0,0.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;

	visibility: hidden;
}

.overlay.active{
	visibility: visible;
}

.popup{
	background: #f8f8f8;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	padding: 20px;
	text-align: center;
	width: 600px;

	transition: .7s ease all;
	transform: scale(0.7);
	opacity: 0;

}

.popup.active{
	opacity: 1;
	transform: scale(1.0);
}

.btn-cerrar-popup{
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	color: #BBBBBB;
	transition: .3s ease all;

}

.btn-cerrar-popup:hover{
	color: black;
	
}

.popup h3{
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup h4{
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}

.popup form .container-inputs{
	opacity: 0;
}

.popup form .container-inputs input{
	width: 100%;
	margin-bottom: 20px;
	height: 100px;
	line-height: 20px;
	font-weight: 18px;
	text-align: left;
	border: 1px solid #BBBBBB;
	padding-bottom: 55px;
	padding-left: 15px;
}

.btn-submit{
	cursor: pointer;
	background-color: #FFA526;
	color: white;
	padding: 20px 80px;
	border-radius: 30px;
	font-weight: 800;
	border: none;
	transition: .3 ease all;
}

.btn-submit:hover{
	opacity: .6;
}

.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .container-inputs { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}

